<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/4169878b-9cee-4856-9ff5-106fed762505/resourceGroups/HandbookInfrastructure/providers/Microsoft.Web/sites/handbookui</ResourceId>
    <ResourceGroup>HandbookInfrastructure</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://handbookui.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c441ea9a-0b1a-44d4-9746-ce34792278c0</ProjectGuid>
    <PublishUrl>https://handbookui.scm.azurewebsites.net/</PublishUrl>
    <UserName>$handbookui</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>